{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ get_user.profile.full_name }}|(@{{ get_user.username }}) {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <img src="{{ get_user.profile.profile_pic.url }}" width="250px" height="250px" style="object-fit:cover;" alt="profile pic">
    </div>
    <div class="col-sm-8">
      <h3>Hi There {{ get_user.username }}
        {% if not already_followed %}
        <a href="{% url 'follow' username=get_user.username %}" class="btn btn-primary">Follow</a>
      {% else %}
        <a href="{% url 'unfollow' username=get_user.username %}" class="btn btn-danger">UnFollow</a>
      {% endif %}
     </h3>
      <br>
      <h4>{{ get_user.post.count }} posts &nbsp; &nbsp; {{ get_user.following.count }} Followers &nbsp; &nbsp; {{ get_user.follower.count }} Following</h4>
      <br>
      <h2> {{ get_user.profile.full_name }} </h2>
      <p class="lead"> {{ get_user.profile.description }} </p>
    </div>
  </div>
  <br>
  <hr>
  <div class="container">
    <div class="row">
      {% for post in get_user.post.all %}
        <img src="{{ post.image.url }}" alt="post.caption" class="post-image">
      {% endfor %}
    </div>
  </div>
{% endblock %}
