{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid navbar-container">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sign-out' %}">Logout</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">
              {% if request.user.profile.profile_pic %}
                <img class ="nav-profile rounded-circle w-3" src="{{request.user.profile.profile_pic.url}}" alt="profile pic">
              {% else %}
                <img class="nav-profile"  src="{% static 'guest-user.jpg' %}" alt="default pic">
              {% endif %}
            </a> -->
            <a class="nav-link" href="{% url 'info-profile' %}">Hello, {{ request.user.username }}</a>
          </li>
      </ul>
      <form class="d-flex ms-auto" method="GET" action="{% url 'home' %}">
        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
